{{ define "main" }}
  <article class="pa3 pa4-ns mw8 center challenges">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="mt3">
      <ul>
      {{ range .Paginator.Pages }}
        <li class="serif">
          <div class="title f4">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
          <div class="meta mid-gray lh-copy">
            <div><span>{{ i18n "cid" }}:</span><span>{{ .Params.cid | default "N/A" }}</span></div>
            <div><span>{{ i18n "award" }}:</span><span>
                {{- with .Params.award -}}
                  {{- $value := . | replaceRE `(([0-9]+)[^0-9].*)` "${2}" -}}
                  {{- $currency := . | replaceRE `([0-9]+([^0-9].*))` "${2}" -}}
                  {{- $currency = replaceRE `(\s*(.*)\s*)` "${2}" $currency -}}
                  {{- printf "%s" $value -}}<span class="currency">{{- i18n $currency -}}</span>
                {{- end -}}
              </span></div>
            <div><a href="{{ .RelPermalink }}" class="link">{{ i18n "details" }}</a></div>
          </div>
          <div class="summary">
            <p><span>{{ i18n "summary" }}:</span>{{ .Summary }}</p>
          </div>
        </li>
      {{ end }}
      </ul>
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
