.container {
    max-width: var(--ifm-container-width) !important;
}

nav.in-home-page {
    background: transparent;
    border: none;
    box-shadow: none;
    .navbar__title {
        display: none;
    }
}

div#cover {
    position: relative;
    display: flex;
    header.cover {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        .container {
            position: relative;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            > div {
                margin-top: 30px;
            }
            h1 {
                width: 100%;
                margin-top: 2em;
                @media all and (max-width: 580px) {
                    margin-top: 1em;
                }
                @media all and (min-width: 900px) {
                    font-size: 3em;
                    margin-top: 1em;
                }
            }
            div#rvspoc-description {
                padding: 0.5em 2em;
                @media all and (max-width: 580px) {
                    font-size: 90%;
                }
            }
            div#registration {
                font-size: 1.5em;
                a {
                    color: var(--ifm-font-color-base);
                }
            }
            div#placeholder {
                margin-top: 60px;
            }
            div#sponsors {
                margin-top: auto;
                margin-bottom: 50px;
                label {
                    display: inline-block;
                    font-weight: bold;
                    margin-bottom: 2em;
                }
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a.sponsor {
                        display: inline-block;
                        width: 128px;
                        height: 80px;
                        background-color: #FFFFFFF0;
                        &:not(:first-of-type) {
                            margin-left: 30px;
                        }
                        &.link-disabled {
                            background-color: #FFFFFF80;
                        }
                    }
                }
            }
        }
    }
}

main {
    background-color: var(--ifm-background-color);
    #blog-list {
        margin: 50px auto;
        .blog-item {
            margin-top: 1em;
            padding: 2em 2em;
            border-bottom: 1px solid var(--ifm-table-stripe-background);
            time {
                font-size: 80%;
                font-weight: bold;
                opacity: 0.8;
            }
            a.blog-title {
                h2 {
                    margin: 0 0 0 20px;
                }
            }
            div.blog-desc {
                margin: 0 0 0 20px;
            }
        }
    }
}

footer {
    background-color: var(--ifm-background-color);
}
