html,
body {
  height: 100%;
}

.mainWrapper {
  position: absolute;
  left: 0;
  right: 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/* Docusaurus-specific utility class */
:global(.docusaurus-mt-lg) {
  margin-top: 3rem;
}

:global(#__docusaurus) {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}
