{{ if (isset .Site.Params "banners" ) }}
  <div id="banners" class="{{if .IsHome}}home{{else}}not-home{{end}}">
    <ul>
      {{ with .Site.Params.banners }}
      {{ range $index, $banner := . }}
      <li id="banner-{{$index}}" class="dismissed">
        <span>{{index $banner "text"}}
        {{- with (index $banner "link") }}
        {{ if . -}}
        <a href="{{.}}" class="details" target="_blank">{{ i18n "details" | default "Details"}}</a>
        {{- end }}
        {{ end -}}
        </span>
        <a class="close" data-banner-id="banner-{{$index}}"></a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
