<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3 f6" role="contentinfo">
  <div class="flex-l justify-between">
    <div>
      <span id="copyright">&copy; {{ now.Format "2006"}}</span>
      <span id="cc-license">
      {{ i18n "CC-BY-NC-SA-License-prefix" }}
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">{{ i18n "CC-BY-NC-SA-License" }}</a>
      {{ i18n "CC-BY-NC-SA-License-suffix" }}
    </div>
    </span>
    {{ partial "social-follow.html" . }}
  </div>
</footer>
