{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5 ph3 lh-copy measure-wide-l">
      <h1>
        404, Page not found
      </h1>
      <p>
        您所访问的页面不存在，建议可以访问<a href='{{ relLangURL "challenges/"}}'>赛题列表</a>，
        或回到<a href='{{ relLangURL ""}}'>主页</a>。
      </p>
      <p>
        The page you are looking for is not available, you can visit
        <a href='{{ relLangURL "challenges/"}}'>the list of challenges</a>
        or return to the
        <a href='{{ relLangURL ""}}'>HOME</a>
        page.
      </p>
    </article>
{{ end }}
