:root {
	--sat: env(safe-area-inset-top, 0px);
	--sar: env(safe-area-inset-right, 0px);
	--sab: env(safe-area-inset-bottom, 0px);
	--sal: env(safe-area-inset-left, 0px);
}

::selection {
	background-color: #9BEBDE;
}


body {
	--fg:       #232323;
	--fg-less:  #616161;
	--fg-lesss: #919191;

	--bg-less:  #EAEAEA;
	--bg-lesss: #F2F2F2;

	--link-color-grey: #999;

	--font-c: "Noto Sans","Noto Sans CJK SC","Source Han Sans","Source Han Sans SC","Hiragino Sans GB",sans-serif;
}
