
body>main>article {
	&.challenge {
		font-family: var(--font-c);
		#toc {
			font-family: monospace;
		}
	}
	>nav {
		margin: 0.5em 0;
		padding: 0.3em 0.5em;
		border-bottom: 1px solid var(--bg-less);
		color: #AFAFAF;
		span {
			margin: 0 0.3em;
			font-size: 90%;
		}
		a, a:hover, a:visited {
			color: #AFAFAF;
			text-decoration: none;
		}
	}
}

#challenges-meta {
	font-family: monospace;
	margin: 2em 0;
	>div {
		margin-bottom: 0.2em;
		>span:first-of-type {
			margin-right: 0.5em;
		}
		span.currency {
			margin-left: 0.5em;
		}
	}
}
body>main>article.cjk #challenges-meta>div span.currency {
	margin-left: 0.2em;
}

#article-body {
	position: relative;

	// TODO: responsive
	#toc {
		display: none;
	}
	@media screen and (min-width: 98rem) {
		#toc {
			display: block;
			float: left;
			position: absolute;
			top: 0;
			left: calc( 100% + 1rem );
		}
	}
	#toc {
		padding: 0 5px;
		width: 16rem;
		box-sizing: border-box;
		>div #TableOfContents {
			ul {
				padding-left: 0;
			}
			li {
				margin-bottom: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				p {
					margin: 0;
					padding: 0;
				}
				a {
					z-index: 10;
					display: block;
					position: relative;
					width: 100%;
					line-height: 1em;
					padding: 0.5em 1em 0.5em 0;
					box-sizing: border-box;
					text-decoration: none;
					color: var(--fg);
					&:before {
						content: ' ';
						position: absolute;
						top: 0;
						left: 9px;
						display: inline-block;
						width: 1px;
						height: 100%;
						background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
						opacity: 0.6;
					}
					&:hover {
						&:after {
							content: ' ';
							position: absolute;
							z-index: -1;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-image: linear-gradient(62deg, #8EC5FC 0%, #FFFFFF00 80%);
							opacity: 0.3;
						}
					}
				}
			}
			>ul {
				list-style: none;
				padding-left: 0;
				position: relative;
				>li {
					position: relative;
					a {
						padding-left: 30px;
					}
					>ul>li {
						a {
							padding-left: 50px;
						}
						>ul>li {
							a {
								padding-left: 70px;
							}
							>ul>li {
								a {
									padding-left: 90px;
								}
								>ul>li {
									a {
										padding-left: 110px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// article main content
	>div {
		position: relative;
		h1,h2 {
			border-bottom: 1px solid var(--bg-less);
		}
		h1,h2,h3,h4,h5,h6,h7,h8,h9 {
			position: relative;
			span.hline {
				display: block;
				.hanchor {
					position: absolute;
					top: 0;
					left: -30px;
					height: 100%;
					width: 30px;
					font-size: inherit;
					display: inline-block;
					transition: opacity 0.3s;
					opacity: 0;
					&:before {
						content: '#';
						position: absolute;
						top: 0;
						left: 0;
						width: 30px;
						height: 100%;
						text-align: center;
					}
				}
				&:hover {
					.hanchor {
						transition: opacity 0.3s;
						opacity: 0.5;
					}
				}
			}
			a {
				text-decoration: none;
				color: inherit;
			}
		}
		table {
			position: relative;
			width: 100%;
			max-width: 100%;
			overflow: auto;
			border: none;
			border-spacing: 0;
			border-top: 1px solid var(--fg-less);
			border-right: 1px solid var(--fg-less);
			break-inside: avoid-page;
			th, td {
				border-spacing: 0;
				border-top: none;
				border-right: none;
				border-left: 1px solid var(--fg-less);
				border-bottom: 1px solid var(--fg-less);
				padding: 0.2em;
			}
			th {
				border-bottom-width: 2px;
			}
			tr:nth-child(even) {
				background-color: var(--bg-less);
			}
			p {
				display: inline;
				margin: 0;
			}
		}
		img {
			position: relative;
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

