body.section-challenges {
	>header, >footer {
		background-color: transparent;
		background-image: linear-gradient(120deg, #e0c3fcB0 0%, #8ec5fcB0 100%);
	}
}

body>main>article.challenges {
	position: relative;
	padding-top: 0;
	>section ul {
		list-style: none;
		padding: 0;
		li {
			display: block;
			position: relative;
			margin-bottom: 2em;
			box-sizing: border-box;
			width: 100%;
			padding: 1em 5em;
			z-index: 10;
			border-radius: 2px;

			&:before {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: calc(100% - 1.5px);
				width: 100%;
				z-index: -1;
				border-radius: 2px;
				background-image:
					linear-gradient(90deg, #FDFDFD 0%, #FFFFFF00 30%),
					linear-gradient(-90deg, #FDFDFD 0%, #FFFFFF00 30%),
					linear-gradient(0deg, #8EC5FC20 0%, #FFFFFF00 60%);
				opacity: 0;
				transition: opacity .08s linear;
			}
			&:hover:before {
				opacity: 0.3;
				transition: opacity .08s linear;
			}
			&:after {
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 100%;
				z-index: -2;
				background-image: linear-gradient(90deg, #FFFFFF 0%, #8EC5FC 10%, #E0C3FC 50%, #8EC5FC 90%, #FFFFFF 100%);
				opacity: 0.5;
				transition: height,opacity .08s linear;
			}
			&:hover:after {
				height: 1.5px;
				opacity: 0.6;
				transition: height,opacity .08s linear;
			}

			a {
				position: relative;
				color: var(--fg);
				text-decoration: none;
				&:hover {
					color: var(--fg);
				}
			}
			.title {
				h1 {
					position: relative;
					margin: 0;
					padding: 0.5em 0 0.3em 0;
					font-size: inherit;
					line-height: 1.5;
					font-weight: bold;
					opacity: 0.8;
					a {
						display: block;
						&:first-of-type {
							position: absolute;
							top: 0;
							left: -1.5em;
							height: 100%;
							width: 1.5em;
							transition: opacity 0.3s;
							opacity: 0;
							&:before {
								content: '#';
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 1.5em;
								padding: 0.5em 0;
								text-align: center;
							}
						}
						.cid {
							font-weight: bold;
							letter-spacing: 0.1em;
							display: inline-block;
							z-index: -1;
							opacity: 0.6;
							margin-right: 0.3em;
						}
					}
					&:hover a:first-of-type {
						transition: opacity 0.3s;
						opacity: 0.6;
					}
				}
			}
			.meta {
				font-family: monospace;
				font-size: 90%;
				font-weight: 400;
				padding-left: 1em;
				margin-top: 0.8em;
				>div:first-of-type {
					.award {
						display: inline-block;
						font-weight: bold;
						width: 5em;
					}
				}
				div {
					margin-right: 1em;
					display: inline-block;
					>span:first-of-type {
						margin-right: 0.3em;
						color: var(--fg-less);
					}
					a {
						color: var(--fg-less);
						position: relative;
						display: inline-block;
						z-index: 10;
						&:after {
							content: ' ';
							position: absolute;
							left: 0;
							bottom: 0;
							z-index: -1;
							width: 100%;
							height: 1px;
							transition: height .08s linear;
							background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
							opacity: 0.6;
						}
						&:hover {
							&:after {
								height: 3px;
								transition: height .08s linear;
							}
						}
					}
					.currency {
						margin-left: 0.5em;
					}
				}
			}
			.summary {
				line-height: 1.5;
				font-size: 80%;
				font-weight: 400;
				padding-left: 1em;
				opacity: 0.6;
				>p {
					margin: 0;
					>span {
						display: none;
						font-size: 90%;
						color: var(--fg-less);
						margin-right: 0.3em;
					}
				}
				a:last-of-type {
					font-size: 90%;
					&:before {
						content: '>> '
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		@media screen and (max-width: 60em) {
			li {
			padding: 1em 2em;
			}
		}
	}

	>section.pager-info {
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		text-align: center;
		opacity: 0.6;
		padding: 0 2em;
		font-weight: 200;
		span {
			display: inline-block;
			padding: 0 0.2em;
			font-weight: 300;
		}
	}

	ul.pagination {
		margin-top: 0;
		padding: 0;
		text-align: center;
		li {
			margin: 0 0.5em 0 0;
			font-size: 80%;
			font-weight: 400;
			a {
				display: inline-block;
				background: none;
				border: none;
				position: relative;
				z-index: 10;
				display: inline-block;
				font-size: 12px;
				width: 24px;
				height: 24px;
				padding: 6px;
				box-sizing: border-box;
				border-radius: 2px;
				color: var(--fg-less);
				span {
					position: relative;
					bottom: 1px;
					opacity: 0.9;
				}
				&:before {
					content: ' ';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: -2;
					border-radius: 2px;
					background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
					transition: box-shadow .08s linear;
					box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
				}
				&:after {
					content: ' ';
					position: absolute;
					width: calc(100% - 2px);
					height: calc(100% - 2px);
					top: 1px;
					left: 1px;
					z-index: -1;
					border-radius: 1.6px;
					background-color: #FFFFFF;
				}
				&:hover:before {
					transition: box-shadow .08s linear;
					box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
				}
			}
			&.active a {
				background: none;
				color: var(--fg-lesss);
				&:before {
					opacity: 0.3;
					box-shadow: none;
				}
				&:hover:before {
					box-shadow: none;
				}
			}
		}
	}
}

body>main>article.challenges.cjk>section ul li .meta div .currency {
	margin-left: 0.1em;
}
